<div>
  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="inputsm">Filtrar por marca:</label>
          <input (ngModelChange)="filterByBrand($event)" [(ngModel)]="filterText" name="filterText" class="form-control input-sm" id="inputsm"
            type="text">
        </div>
        <div class="form-group">         
          <button class="btn btn-primary" [disabled]="comapreIdList.length!=2" (click)="onClickcompareCars()">Comparar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let car of carList | sort:'brand'" class="col-md-4">
      <app-car-thumbnail [hidecheck]="false" (compareCars)="compareCars($event)" [car]="car"></app-car-thumbnail>
    </div>
  </div>
</div>