<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Comparar</b>
      <button (click)="goBack()" class="btn btn-primary pull-right">Volver</button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div [ngClass]="(comapreIdList.length==3)?'col-md-offset-2':'col-md-offset-3'" class=" col-md-8">
        <div *ngFor="let car of comapreIdList" class="col-md-4">
          <app-car-thumbnail [hidecheck]="true" [car]="car"></app-car-thumbnail>
          <app-car-detail [detail]="car.detail"></app-car-detail>
        </div>
      </div>
    </div>   
  </div>
</div>